@import "variables"

@media screen and (max-width: 375px)
  .header-menu
    width: 100%
    display: flex
    justify-content: space-around
    &__list
      display: none
    &__toggle
      display: initial
      text-align: center
      cursor: pointer
      font-family: Bernadette
      color: #fff
      border: 1px solid #000
      font-size: 2vw
      margin-top: 2%