@import "variables"

.team
  margin: 0 10% 3%
  text-align: center
  background: linear-gradient(to bottom, #fff 55%, #f4f4f4 45%)
  padding: 0 5%
  height: 35vw
  &__headline-1
    font-family: Bernadette
    font-weight: 900
    font-size: 3.5vw
    padding-bottom: 2.5%
    color: #333332
  &__paragraf
    font-family: Lato
    font-weight: 200
    font-size: 1.2vw
    padding-bottom: 5%
  &__members
    display: grid
    grid-template-columns: 19% 19% 19% 19% 19%
    grid-column-gap: 1%
    justify-content: space-between
    padding-bottom: 5%
    margin-bottom: 5%
  &__member
    max-width: 100%
    img
      max-width: 100%
      margin-bottom: 15%
  &__headline-2
    font-family: Lato
    font-weight: 400
    font-size: 1.5vw
  &__headline-3
    font-family: Lato
    font-weight: 200
    font-size: 1.2vw
    color: #b7b7b7